<div id="fileListController" ng-controller="fileListController">
	
	<div class="well" ng-if="isInProgress(progress)">
		<h4>Loading shared files</h4>
		<div class="progress progress-striped active">
			<div class="bar" style="width: {{ progress }}%;"></div>
		</div>
	</div>

	<div class="card" ng-repeat="item in items | filter:search">
		<div class="card-heading image">
		<img src="{{ item.iconLink }}" alt="Icon for {{ item.mimeType }}">
			<div class="card-heading-header">
				<h3>{{ item.title }}</h3>
				<span>{{ item.modifiedDate }}</span>
			</div>
		</div>
		<div class="card-body">
			<p>
				{{ item.description }}
			</p>
		</div>
		<div class="card-media">
			<a class="card-media-container" href="#">
				<img ng-if="hasThumbnailLink(item)" src="{{ item.thumbnailLink }}" alt="Thumbnail of {{ item.title }}">
			</a>
		</div>
		<div class="card-actions">
			<button id="my-button" type="button" class="btn" data-clipboard-text="https://drive.google.com/uc?export=view&id={{ item.id }}">
				Original
			</button>
			<button id="my-button" type="button" class="btn" data-clipboard-text="{{ item.alternateLink }}">
				Drive
			</button>
			<button id="my-button" type="button" class="btn" data-clipboard-text="https://drive.google.com/uc?export=download&id={{ item.id }}">
				Download
			</button>
		</div>
	</div>

</div>